
<div class="section">
<p><%= params[:question]%></p>
<p>-You</p>
</div>

<div class="section coach">
<p><strong><%= @answer %></strong></p>
<p>-Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
